body{
    color: #060501;
    text-align: center;
    margin: 0px;
    font-family: 'Orbitron', sans-serif;
}

#hero{
    background-image: url(images/galaxy2.gif);
    background-position: center;
    background-size: cover;
    padding: 30px 0px;
}

.btn{
    padding: 5px 10px;
    background-color: #090909;
    border: none;
    font-family: inherit;
    color: #fced90;
    font-size: 20;
    border-radius: 5px;
}

#main-logo{
    width: 75px;
}

@font-face{
    src: url(Corleone.ttf);
    font-family: Corleone; /* Podemos usar la font family en el resto del CSS */
}

.sub{
    border-bottom: 2px solid #fff;
}

#title{
    text-shadow: 2px 2px 5px #fced90;
}